/**
 * Do not delete or rename this file, if you do not use it leave it blank.
 */

#branding {
  padding: 10px 0 10px;
}
.region-header {
  padding: 0 0 10px;
}
#branding,
.region-header {
  float: none;
  margin: auto;
  text-align: center;
  display: table;
}
#logo,
#site-name,
#site-slogan {
  display: block;
  float: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
#site-name {
  font-size: 3em;
}
.content-style {
  padding: 10px;
}
#secondary-content-wrapper,
#top-panels-wrapper,
#content-wrapper,
#footer-panels-wrapper,
#tertiary-content-wrapper {
  margin-bottom: 10px;
}
.region-secondary-content .block {
  margin-bottom: 0;
  font-size: 1em;
}
#menu-bar-wrapper,
#menu-bar {
  min-height: 3em;
  height: auto;
}
#menu-bar {
  padding: 0 2px;
}
#menu-bar .block {
  clear: both;
  float: none;
}
#menu-bar .menu-wrapper ul li {
  display: block;
  float: none;
  margin: 0;
  overflow: hidden;
}
#menu-bar .menu-wrapper ul li a {
  padding: 6px 10px 8px;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
#menu-bar .sf-menu {
  height: auto;
  padding: 2px 0;
}
#menu-bar .menu-wrapper ul ul {
  display: none !important;
}
.region-header .block {
  overflow: hidden;
}
.region-header .block ul li {
  display: block;
  text-align: center;
  float: none;
}
.region-header .block ul li a {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.article-title {
  font-size: 1.5em;
}
