/**
 * Smalltouch / Smartphone portrait
 */

#admin-menu-wrapper {display: none;}

#branding {
  padding: 10px 0 10px;
}

.region-header {
  padding: 0 0 10px;
}

#branding,
.region-header {
  float: none;
  margin: auto;
  text-align: center;
  display: table;
}

#logo,
#site-name,
#site-slogan {
  display: block;
  float: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#site-name {
  font-size: 3em;
}

.content-style {
  padding: 10px;
}

#secondary-content-wrapper,
#top-panels-wrapper,
#content-wrapper,
#footer-panels-wrapper,
#tertiary-content-wrapper {
  margin-bottom: 10px;
}

.region-secondary-content .block {
  margin-bottom: 0;
  font-size: 1em;
}

#menu-bar .menu-wrapper,
#primary-menu-bar .menu-wrapper {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#menu-toggle {
  padding-bottom: 10px;
}

#menu-bar .block > ul > li {
  display: inline-block;
  margin: 0.333em 0.1em;
  padding-left: 0;
}

#menu-bar ul > li a {
  padding: 0.4em 10px 0.5em;
  margin: 0 3px;
}

.region-header .block {
  overflow: hidden;
}

.region-header .block ul li {
  display: block;
  text-align: center;
  float: none;
}

.region-header .block ul li a {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

.node-title {
  font-size: 1.5em;
}

#tasks {
  margin: 10px 10px 2px;
}

ul.primary {
  white-space: normal;
  border: 0;
}

ul.primary li a {
  border-radius: 6px;
  line-height: 2em;
  padding: 0 10px;
  white-space: nowrap;
  border: 0 !important;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
}

