/* $Id$ */

/* Light brown (base) */
body {
  background-color: #f8f8ee;
}

/* Black (text) */
body {
  color: #63565F;
}

/* Blue (link) */
a {
  color: #2c98b9;
}
#main-menu ul.links li a {
  color: #2c98b9;
}
#main-menu ul.links li.active a:hover {
  background-color: #2c98b9;
}
input.form-button,
input.form-submit {
  background-color: #2c98b9;
}
.node ul.links li a:hover {
  background-color: #2c98b9;
}

/* Green (linkHovered) */
a:hover {
  color: #a2c32d;
}
a:focus {
  outline-color: #a2c32d;
  color: #a2c32d;
}
#main-menu ul.links li a:hover {
  color: #a2c32d;
}
#main-menu ul.links li.active a  {
  background-color: #a2c32d;
}
input.form-button:hover,
input.form-submit:hover,
input.form-button:focus,
input.form-submit:focus {
  background-color: #a2c32d;
}
#main-menu ul.links li a:active,
#main-menu ul.links li a:focus {
  color: #a2c32d;
  outline-color: #a2c32d;
}
.node ul.links li a {
  background-color: #a2c32d;
}

/* Light green (line) */
#header-wrapper {
  border-bottom-color: #bee043;
}

/* Brown (borders) */
#main,
.block {
  border-color: #e8e8b3;
}

/* White (page) */
#main {
  background-color: #FCFCF8;
}

/* (slogan) */
#branding #site-slogan {
  color: #8d8d8d;
}

/* (tab, tab border) */
tr.region-title,
.tabs ul.tabs li a {
  background-color: #efefdb;
  border-color: #d7d7a8;
}
ul.vertical-tabs-list li a {
  background-color: #efefdb;
  border-bottom-color: #d7d7a8;
  border-right-color: #d7d7a8;
}



.block,
#forum td.container {
  background-color: #FAFAF2;
}





