/* $Id$ */

/* background */
body {
  background-color: #f8f8f8;
}
#navigation li.active {
  background-color: #f8f8f8;
}
/* text (black) */
body {
  color: #2e2e2e;
}
/* link (blue) */
a,
ul.pager a.active {
  color: #086782;
}
/* link hovered (orange) */
a:hover,
a:focus,
ul.pager a.active:hover,
ul.pager a.active:focus {
  color: #e25401;
}
/* navigation (black) */
#navigation {
  background-color: #2e2e2d;
}
#navigation #width {
  border-left-color: #2e2e2d;
}
#main-links li.expanded ul {
  background-color: #2e2e2d;
}
/* slogan (orange) */
#site-slogan {
  color: #e25400;
}
#site-slogan::selection {
  background-color:  #e25400;
}
#site-slogan::-moz-selection {
  background-color:  #e25400;
}
/* border (gray) */
#page {
  border: 1px solid #e1e1e1;
}
/* border strong (dark gray) */
#sidebar-first input,
#sidebar-second input {
  border: 1px solid #c4c4c4;
}
/* block title (green) */
.block h2 {
  color: #779125;
}
.block h2::selection {
  color: #fff;
  background-color: #779125;
}
.block h2::-moz-selection {
  background-color: #779125;
  color: #fff;
}

