/* $Id$ */

/* background */
body {
  background-color: #f8f8f8;
}
#navigation li.active a,
#navigation li.active a:hover {
  background-color: #f8f8f8;
}
/* text (black) */
body,
#site-name a,
#navigation li.active a,
h1.page-title,
.node h2.node-title,
.node h1.node-title a,
.node h2.node-title a,
.comment h3.title a,
.tabs ul.tabs li a,
pre,
code,
samp,
var {
  color: #2e2e2e;
}
#site-name a::-moz-selection {
  background-color: #2e2e2e;
}
#site-name a::selection {
  background-color: #2e2e2e;
}
.node-title a::-moz-selection {
  background-color: #2e2e2e;
}
.node-title a::selection {
  background-color: #2e2e2e;
}
/* link (blue) */
a,
a.active,
li a.active {
  color: #086782;
}
legend {
  background-color: #086782;
}
/* link hovered (orange) */
a:hover,
a:focus,
a.active:hover,
a.active:focus,
li a.active:hover,
li a.active:focus {
  color: #e25401;
  border-bottom-color: #e25401; 
}
.node h1.node-title a:hover,
.node h2.node-title a:hover {
  color: #e25401;
}
/* link underline (light blue) */
a {
  border-bottom: 1px solid #cfdde5;
}
/* navigation (black) */
#navigation {
  background-color: #2e2e2d;
}
#navigation #width {
  border-left-color: #2e2e2d;
}
#main-links li.expanded ul {
  background-color: #2e2e2d;
}
/* navigation hovered (orange) */
#navigation li a:hover,
#navigation li a:active,
#navigation li a:focus {
  background-color: #e25402;
}
/* slogan (orange) */
#site-slogan {
  color: #e25400;
}
#site-slogan::selection {
  background-color:  #e25400;
}
#site-slogan::-moz-selection {
  background-color:  #e25400;
}
.poll .bar .foreground {
  background-color: #e25400;
}
/* border (gray) */
#page {
  border: 1px solid #e1e1e1;
}
/* border strong (dark gray) */
#sidebar-first input,
#sidebar-second input {
  border: 1px solid #c4c4c4;
}
.tabs ul.tabs li a {
  border: 1px solid #c4c4c4;
}
/* tab */
.tabs ul.tabs li a {
  background-color: #f5f4f3;
}
ul.vertical-tabs-list li a {
  background-color: #f5f4f3;
}
/* block title (green) */
.block h2,
h2 {
  color: #779125;
}
.block h2::selection {
  color: #fff;
  background-color: #779125;
}
.block h2::-moz-selection {
  background-color: #779125;
  color: #fff;
}
/* fieldset (gray) */
fieldset {
  background-color: #fbfbfb;
}
/* fieldset border (dark gray) */
fieldset {
  border: 1px solid #e1e1e2;
}

