/* $Id$ */

/**
* Properties inherited by all elements
*/
body {
  line-height: 1.5;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  word-wrap: break-word;
}

/**
* Headers
*/
h1 {
  margin: 9px 0 9px;
  font-size: 2em;
  font-family: "Trebuchet MS", sans-serif;
  line-height: 1.1;
}
h2 {
  margin: 17px 0 7px;
  padding: 0 0 4px 0;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.333em;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  color: #7da618;
  border-bottom: 1px dashed #2e2e2e;
}
h3 {
  font-family: "Trebuchet MS", sans-serif;
  margin: 20px 0 12px;
  font-size: 1.333em;
}
h4 {
  margin: 7px 0 10px 0;
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
  margin: 12px 0 8px 0;
  font-weight: 700;
}
h6 {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  margin: 12px 0 8px 0;
  font-size: 0.833em;
  font-weight: 700;
}
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0;
}

/**
* Block elements
*/
p {
  margin: 14px 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
pre {
  margin: 10px 0;
  padding: 15px;
  background-color: #FAFAFA;
  border: 1px solid #E5E5E5;
  font-family: "Courier", "Courier New", monospace;
  white-space: pre-wrap;
  overflow: hidden;
}
blockquote {
  margin: 20px 0 20px 20px; /* LTR */
  padding: 0 0 0 15px; /* LTR */
  color: #808080;
  border-left: 7px solid #E25401; /* LTR */
  quotes: none;
}
img {
}
.block-system-main .img {
  float: left;
}
hr {
  height: 1px;
  border: 1px solid gray;
}

/**
* Inline elements
*/
strong {
  font-weight: 700;
}
em {
  font-style: normal;
  font-weight: 700;
}
kbd {
  background-color:#F1EED4;
  border:1px outset #575757;
  color:#333333;
  padding:2px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
abbr[title],
dfn[title],
acronym[title] {
  border-bottom: 1px solid #BF8060;
}
samp,
var,
code {
  background-color: #EFEFEF;
}
ins {
  text-decoration: underline;
}
del {
  text-decoration: line-through;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super
}
tt {
  font-family: monospace;
}
b {
  font-weight: 700;
}
i {
  font-style: italic;
}
*::selection {
  background-color: #2E2E2E;
  color: #ffffff;
}
*::-moz-selection {
  background-color: #2E2E2E;
  color: #ffffff;
}

/**
* Lists
*/
ul,
ol,
dl {
  list-style-position: inside;
}
ul li,
ol li,
dl dt,
dl dd {
}
p + ul {
  margin-top: 5px;
}
ul {
  list-style: disc inside none;
  margin: 0 0 0 15px; /* LTR */
}
li {
}
li > ul {
  margin-top: 8px;
}
ul.inline li {
  display: inline;
  margin: 0 10px 0 0; /* LTR */
}
li.expanded a {
  display: block;
  margin-bottom: 8px;
}
li.expanded ul {
  margin-left: 12px; /* LTR */
}
ol {
  list-style: decimal inside none;
  margin: 0 0 0 15px; /* LTR */
}
dt {
  margin-top: 5px;
  font-weight: 900;
}
dd {
}

/**
* Links
*/
a {
  text-decoration: none;
  border-bottom: 1px solid #cfdde5;
}
a:hover,
a:focus {
  border-bottom-color: #E25401;
}
a::selection {
  background-color: #086782;
  color: #ffffff;
}
a::-moz-selection {
  background-color: #086782;
  color: #ffffff;
}

/**
* Tables
*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 10px 14px;
  text-align: left; /* LTR */
  vertical-align: middle;
}
th,
thead {
  background-color: #333333;
  color: #fcfcf8;
  border: 1px solid #CCCCCC;
}
tr {
  border-bottom: 1px solid #CCCCCC;
}
caption {
  margin-bottom: 5px;
  text-align: left; /* LTR */
}

/**
* Forms
*/
/* Wrappers, labels and helpers */
.fieldset-wrapper {
  margin: 10px 0;
}
fieldset {
  margin: 15px 0;
  padding: 13px 20px;
  background-color: #FBFBFB;
  border: 1px solid #E1E1E1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
legend {
  margin-left: -8px;
  padding: 1px 8px 1px 9px;
  background-color: #086782;
  color: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.form-item {
  margin: 14px 0;
}
legend + .form-item {
  margin-top: 0;
}
fieldset .form-item:first-child {
  margin-top: 0;
}
.form-item:last-child {
  margin-bottom: 0px;
}
.form-item .description {
  background-color: #F5F9FA;
  border: 1px solid #deeaec;
  font-size: 0.917em;
  margin: 9px 0 21px;
  padding: 2px 6px;
}
label {
  display: block;
  vertical-align: middle;
}
label.option {
  display: inline;
  font-weight: normal;
  color: inherit;
  font-size: 0.917em;
}
span.form-required {
  font-weight: 700;
  color: #E25401;
}
/* Text inputs */
input.form-text,
input.form-password,
input.form-file,
textarea {
  padding: 6px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: #FAFAFA;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  box-sizing: border-box;
}
fieldset input.form-text,
fieldset input.form-password,
input.form-file,
textarea {
  background-color: #fdfdfd;
}
input.form-text:focus,
input.form-password:focus,
input.form-file:focus,
textarea:focus {
  border: 1px solid #a5a5a5!important;
  background-color: #ffffff;
}
input.form-text,
input.form-password,
input.form-file {
  width: 100%;
  max-width: 320px;
}
textarea {
  width: 100%;
  height: 230px;
}
/* Choice inputs */
select {
  padding: 4px;
}
.form-radios,
.form-checkboxes {
  margin: 3px 0;
}
.form-item-choice {
  padding: 3px 0;
}
.form-item.form-type-radio,
.form-item.form-type-checkbox {
  margin: 4px 0;
}
input.form-checkbox,
input.form-radio {
  display: inline;
  vertical-align: middle;
}

/* Buttons */
input.form-button,
input.form-submit {
  margin: 0 5px 0 0; /* LTR */
  padding: 5px 11px;
  background: url(images/button.png) repeat-x top left;
  color: #414141;
  border: 1px solid #CCCCCC;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
}
input.form-button:hover,
input.form-submit:hover,
input.form-button:focus,
input.form-submit:focus {
   border-color: #666666!important;
}
/* Disabled inputs */
input[disabled="disabled"] {
  background-color: #eaeaea;
}
/* Higlight required form item if user has forgotten to fill it */
input.error,
textarea.error,
select.error {
  background-color: #fefaf8;
  border: 1px solid #f4b09e;
}
input.error:focus,
textarea.error:focus,
select.error:focus {
  background-color: #fef7f5;
  border: 1px solid #d43308!important;
}

/*
** Undo
*/
/* body { line-height: 1.5; } */
#site-name,
#main-links,
.node .meta {
  line-height: 1;
}
/* a { border-bottom: 1px solid #CFDDE5; } */
body.page-admin a,
a#logo,
#site-name a,
#main-links li a,
.node h1.node-title a,
.node h2.node-title a,
ul.pager li a,
.block ul li a,
.node .meta a,
.element-invisible,
a.feed-icon,
.comment h3.title a,
.user-picture a,
ul.action-links li a,
legend a,
th a,
thead a,
#forum td.container .name a,
a.tabledrag-handle,
ul.contextual-links li a,
.overlay .ui-dialog-titlebar a {
  border-bottom: none;
}
/* ul { list-style: disc inside none; } */
.block ul,
ul.links,
ul.vertical-tabs-list,
ul.contextual-links li,
.admin-panel li.leaf,
.item-list li {
  list-style: none;
}
/* ul { margin: 0 0 0 15px } */
ul.menu,
.item-list ul,
.node ul.links {
  margin: 0;
}

