/* $Id$ */

/* Fluid layouts are buggy under IE6, use fixed one instead */
body.two-sidebars #header,
body.two-sidebars #main-menu,
body.two-sidebars #main,
body.two-sidebars #footer,
body.two-sidebars #closure {
  width: 980px;
}
body.one-sidebar #header,
body.one-sidebar #main-menu,
body.one-sidebar #main,
body.one-sidebar #footer,
body.one-sidebar #closure {
  width: 900px;
}
body.no-sidebars #header,
body.no-sidebars #main-menu,
body.no-sidebars #main,
body.no-sidebars #footer,
body.no-sidebars #closure {
  width: 780px;
}

