/* $Id$ */

body {
  background-image: none;
}
#navigation li a:hover,
#main-links li a:active,
#main-links li a:focus {
  background: none;
}
#width,
#width-inner {
  height: 0;
}
#width {
  border-left: 960px solid #fbfcfd;
}
#width-inner {
  margin-left: -960px;
  position: relative;
}
