/* $Id$ */

/* Ensure links are always clickable in RTL for IE6 and 7. */
a {
  zoom: 1;
}

/* Bug: no borders on tr elements */
td, th {
  border-bottom: 1px solid #cccccc;
}
/* Bug: misalignd menus in blocks */
.block ul.menu,
.block ul.links,
.block .item-list ul {
  list-style-position: outside;
}

/*
* Fix issues caused by lack of support for last-child pseudoclass
*/
fieldset.filter-wrapper {
  margin-top: -14px;
}

/*
* Fix issues caused by lack of support for display: inline-block property
*/
#navigation li,
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference .field-item,
.field-type-taxonomy-term-reference .field-items,
.tabs ul.tabs li {
  hasLayout: true;
  display: inline;
}

/*
* Fix issues caused by lack of support for border box model
*/
textarea {
  padding: 0;
}
input {
  padding: 5px 0!important;
}

/*
* Fix issues caused by lack of support for inherit value
*/
#navigation li a.active,
#site-name a {
  color: #2e2e2e;
}

/*
* Fix issues caused by lack of support for CSS tables
*/
/* branding */
a#logo {
  float: left;
}
#name-and-slogan {
  float: left;
}

