/* $Id$ */

/*
* Reimplement the layout using fixed units
*/
/*  3-column layout */
body.columns-3 #main-links,
body.columns-3 #header,
body.columns-3 #main {
  width: 960px!important;
}
body.columns-3 #content-wrapper {
  width: 550px!important;
}
body.columns-3 #sidebar-first-wrapper,
body.columns-3 #sidebar-second-wrapper {
  width: 200px!important;
}
/* 2-column layout */
body.columns-2 #main-links,
body.columns-2 #header,
body.columns-2 #main {
  width: 960px;
}
body.columns-2 #content-wrapper {
  width: 700px;
}
body.columns-2 #sidebar-first-wrapper,
body.columns-2 #sidebar-second-wrapper {
  width: 190px;
}
/* 1 column layout */
body.columns-1 #main-links,
body.columns-1 #header,
body.columns-1 #main {
  width: 800px;
}
/* 1 column layout (admin) */
body.page-admin #main {
  width: 960px;
}
body.page-admin #content-wrapper {
  width: 100%;
}

/* Bug: layout breaks in RTL mode */
#content-wrapper,
#sidebar-first-wrapper,
#sidebar-second-wrapper {
  position: relative;
}
/* Bug: sidebar links not clickable in RTL mode */
#sidebar-first-wrapper a,
#sidebar-second-wrapper a {
  hasLayout: true;
}
/* Bug: no borders on tr elements */
td, th {
  border-bottom: 1px solid #CCCCCC;
}
/* Bug: clearfix not working */
.clearfix {
  zoom: 1;
}
/* Bug: misalignd menus in blocks */
.block ul.menu,
.block ul.links,
.block .item-list ul {
  list-style-position: outside;
}

/*
* Fix issues with drop-down menu
*/
#main-links > ul > li > a.active {
  color: #2E2E2E;
}
#main-links li.expanded ul {
  background-color: #000000;
}
#main-links li.expanded li {
  hasLayout: true;
  display: inline;
  width: 100%;
}
#main-links * {
  z-index: 999;
}

/*
* Fix issues caused by lack of support for last-child pseudoclass
*/
fieldset.filter-wrapper {
  margin-top: -14px;
}

/*
* Fix issues caused by lack of support for display: inline-block property
*/
#main-links li,
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference .field-item,
.field-type-taxonomy-term-reference .field-items,
.tabs ul.tabs li {
  hasLayout: true;
  display: inline;
}

/*
* Fix issues caused by lack of support for border box model
*/
textarea {
  padding: 0;
}
input {
  padding: 5px 0!important;
}

/*
* Fix issues caused by lack of support for CSS tables
*/
/* pager */
ul.pager li {
  hasLayout: true;
  display: inline;
}
/* branding */
a#logo {
  float: left;
}
#name-and-slogan {
  float: left;
}
/* closure */
#theme-info {
  float: right;
}
#secondary-menu {
  float: left;
}
#secondary-menu ul {
  display: inline;
}

