/* $Id$ */

#content a.feed-icon {
  float:left;
}
.node img {
  float: right;
  margin: 5px 0px 10px 10px;
}
.node ul.links li {
  margin-right: 0px;
  margin-left: 8px;
}
.comment .info {
  float: right;
}
.comment .content  {
  margin: 0 135px 0 0;
}
.filter-guidelines ul li {
  background-position: right 6px;
  padding: 0 15px 0 0;
  line-height: 20px;
}
.search-advanced .criterion {
  margin: 0 0 0 25px;
}
