/* $Id$ */

/*
** Layout
*/
#content-wrapper,
#sidebar-first-wrapper,
#sidebar-second-wrapper {
  float: left;
}
#content,
.region-sidebar-first,
.region-sidebar-second {
  margin: 25px 10px;
}
#main-columns {
  padding: 0 15px;
}
/* Two sidebars */
body.two-sidebars #header,
body.two-sidebars #main-menu,
body.two-sidebars #main,
body.two-sidebars #footer,
body.two-sidebars #closure {
  margin: 0 auto;
  width: 83%;
  min-width: 800px;
  max-width: 1280px;
}
body.two-sidebars #content-wrapper {
  width: 50%;
}
body.two-sidebars #sidebar-first-wrapper,
body.two-sidebars #sidebar-second-wrapper {
  width: 25%;
}
/* One sidebar */
body.one-sidebar #header,
body.one-sidebar #main-menu,
body.one-sidebar #main,
body.one-sidebar #footer,
body.one-sidebar #closure {
  margin: 0 auto;
  width: 77%;
  min-width: 600px;
  max-width: 1000px;
}
body.one-sidebar #content-wrapper {
  width: 70%;
}
body.one-sidebar #sidebar-first-wrapper,
body.one-sidebar #sidebar-second-wrapper {
  width: 30%;
}
/* No sidebars */
body.no-sidebars #header,
body.no-sidebars #main-menu,
body.no-sidebars #main,
body.no-sidebars #footer,
body.no-sidebars #closure {
  margin: 0 auto;
  width: 70%;
  max-width: 900px;
  min-width: 300px;
}
body.no-sidebars #content-wrapper {
  width: 100%;
}

/*
** Page wrappers
*/
html {
  height: 100%;
}
body {
  background-color: #f8f8ef; /* @color */
  color: #63565F; /* @color */
  font-size: 12px;
}
#skip-link {
  height: 0;
  overflow: hidden;
  position: absolute;
}

/*
** Header
*/
#header-wrapper {
  border-bottom:10px solid #c6e263;
  margin-bottom:-70px;
  padding-bottom:60px;
}
#header {
}
/* Branding */
#branding {
  padding: 38px 0 38px 13px;
}
#branding a#logo {
  margin-right: 16px; /* LTR */
  margin-top: 6px; /* LTR */
  float: left; /* LTR */
}
#branding a#logo img {
}
#branding #name-and-slogan {
}
#branding #site-name {
  margin: 0 23px 0 0;
  font-size: 3.917em;
}
#branding.site-slogan-disabled #site-name {
  margin-top: 13px;
} 
#branding #site-name a {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 700;
  margin: 0;
  line-height: 50px;
  color: #575757;
  text-decoration: none;
}
#branding #site-name a:active,
#branding #site-name a:focus {
  outline-color: #373737; 
}
#branding #site-slogan {
  color: #8D8D8D;
  font-size: 1.667em;
  font-weight: 700;
  margin-top: 4px;
  line-height: 20px;
}
#branding.site-name-disabled #site-slogan {
  margin-top: 27px;
}

/*
** Main menu
*/
#main-menu-wrapper {
}
#main-menu {
}
#main-menu h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}
#main-menu ul.links {
  margin-bottom: 7px;
  margin-left: 0;
}
#main-menu ul.links li {
  display: inline-block;
  padding: 0;
  background: none;
  margin: 0 4px 0 0;
}
#main-menu ul.links li a {
  color: #a2c32f;
  font-size: 1.25em;
  font-weight: 700;
  font-family: "Trebuchet MS";
  display: block;
  padding: 7px 18px;
}
#main-menu ul.links li.active a {
  background-color: #a2c32f;
  color: #ffffff;
}
#main-menu ul.links li a:hover {
  color: #2C98B9;
}
#main-menu ul.links li.active a:hover {
  color: #ffffff;
  background-color: #2C98B9;
}
#main-menu ul.links li a:active,
#main-menu ul.links li a:focus {
  color: #2C98B9;
  outline-color: #2C98B9;
}
#main-menu ul.links li.active a:active,
#main-menu ul.links li.active a:focus {
  color: #ffffff;
  background-color: #2C98B9;
  outline: none;
}

/*
** Main
*/
#main {
  min-height: 300px;
}
#main {
  background-color: #fcfcf8;
  border: 1px solid #e9e9ce;
  position: relative;
}
#main #main-columns {
  z-index: 10;
  position: relative;
}
/* Content (column) */
#content {
}
#content-inner {
}
/* Sidebar first (column) */
#sidebar-first {
}
#sidebar-first .inner {
}

/* Sidebar second (column) */
#sidebar-second {
}
#sidebar-second .inner {
}

/*
** Footer
*/
#footer {
}
#footer .inner {
  padding-top: 8px;
}
#footer .block {
  margin-bottom: 10px;
  background: inherit;
  border: none;
}
#footer .block h2 {
}
/* Footer columns */
#footer-columns {
  margin-bottom: 5px;
}
#footer-columns .column {
  display: inline-block;
  vertical-align: top;
}
#footer-columns.columns-1 .column {
  width: 100%;
}
#footer-columns.columns-2 .column {
  width: 49%;
}
#footer-columns.columns-3 .column {
  width: 33%;
}
#footer-columns.columns-4 .column {
  width: 24%;
}
#footer-columns .region {
  margin: 20px;
}
#footer-columns .block {
  padding: 0;
}
#footer-columns .column.first .region {
  margin-left: 15px;
}
#footer-columns .column.last .region {
  margin-right: 15px;
}

/*
** Closure
*/
#closure-wrapper {
  padding: 11px 0;
  background-color: #404040;
}
/* Secondary menu */
#secondary-menu {
  font-size: 0.85em;
  margin-right: 6px;
}
#secondary-menu h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}
#secondary-menu ul {
  margin: 0;
}
#secondary-menu ul li {
  display: inline;
  background: none;
  padding-left: 0;
  margin-left: 10px;
}
#secondary-menu ul li a {
  color: #ffffff;
}

