/* $Id$ */

#content-wrapper,
#sidebar-first-wrapper,
#sidebar-second-wrapper {
  float: right;
}






#branding a#logo  {
  float:right;
  margin-right: 0px;
  margin-left: 16px;
}
ul#info li {
  margin: 0 0 0 3px; /* LTR */
}
