/* $Id$ */

body {
  font-size: 10pt;
  font-family: "Times New Roman", serif!important;
  color: #000000;
  word-spacing: 1.1pt;
  background: none;
  width: 100% !important;
  line-height: 1.3;
}
#main > .inner {
  margin: 0!important;
  min-width: 0!important;
  max-width: none!important;
  width: 100%!important;
  border: none!important;
}
#main {
  padding: 0;
  border: none;
}
#content {
  width: 100%!important;
}
#header {
  margin-top: 0;
  margin-bottom: 0;
}
.node h2 a {
  text-decoration: none!important;
}

/* Elements */
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 16pt;
}
h3 {
  font-size: 14pt;
}
h4,
h5,
h6 {
  font-size: 12pt;
}
a {
  text-decoration: underline !important;
}

/* Hidden */
#toolbar,
#header,
#main-menu
.breadcrumb,
#navigation,
ul.links,
.messages,
.tabs,
#secondary-links-wrapper,
#footer,
#footer-closure-wrapper,
#sidebar-first,
#sidebar-second,
ul.pager,
a.feed-icon {
  display: none!important;
}

