/* $Id$ */

#main-wrapper,
#sidebar-first,
#sidebar-second {
  float: right;
}
.two-sidebars #main {
  margin-left: 50.5%;
  margin-right:0;
}
.sidebar-first #main{
  margin-left: 25.25%;
  margin-right: 0;
}
.sidebar-second #main {
  margin-left: 25.25%;
  margin-right: 0;
}
#sidebar-first {
  width: 24.25%;
  margin-right: -49.5%;
}
#sidebar-second {
  width: 24.25%;
  margin-right: -24.25%;
}
.sidebar-first #sidebar-first{
  width: 24.25%;
  margin-right: -24.25%;
}
#sidebar-first,
#sidebar-second {
  z-index: 900;
}
#main-menu {
  padding: 3px 6px 0 0;
}
#branding {
  float: right;
}
.region-header {
  float: left;
}
#logo {
  float: right;
  padding: 0 0 0 15px;
}
#name-and-slogan  {
  float: right;
}
#content a.feed-icon {
  float: left;
}
.node ul.links.inline li {
  margin: 0 0 0 8px;
}
div.item-list ul li {
  margin-right: 0;
}
#comments-wrapper .indented {
  margin: 0 30px 0 0;
}
.comment .user-picture {
  float: left;
  margin: 0 10px 10px 0;
}
.node .user-picture {
  float: right;
  margin: 0 0 8px 10px;
}
.page-links .page-next {
  float: left;
  text-align: left;
}
.book-navigation .page-previous  {
  text-align: right;
}
.poll .vote-form {
  text-align: right;
}
.profile .user-picture {
  float: left;
}
#password-strength {
  float: left;
}
.password-strength-title {
  float: none;
}
#password-strength-text {
  float: left;
}
a.tabledrag-handle {
  margin: 0 0 0 10px;
}
a.tabledrag-handle .handle {
  margin: 0 0 0 14px;
}
table img {
  margin: 0 7px 0 0;
}
html.js input.form-autocomplete {
  background-position: 2% 6px;
}
html.js input.throbbing {
  background-position: 2% -14px;
}
html.js fieldset.collapsible legend {
  padding: 2px 14px 2px 0;
}
html.js fieldset.collapsible legend a {
  padding: 0 0 0 15px;
  background: url("images/arrow-down-white.png") no-repeat left 4px;
}
html.js fieldset.collapsed legend a {
  background: url(images/arrow-left-white.png) no-repeat left 4px;
}
.theme-selector {
  margin: 0 0 20px 25px;
}
.theme-info li {
  padding: 0 0 0 10px;
}
.admin .left {
  float: right;
}
.admin .right {
  float: left;
}
