/* $Id */

#password-strength {
  float: left;
}
ul.vertical-tabs-list li a {
  border-left: 1px solid #CCCCCC;
  border-right: none;
}
ul.vertical-tabs-list li.selected a {
  border-left: none;
}
a.tabledrag-handle {
  margin: 0 0 0 10px;
}
a.tabledrag-handle .handle {
  height: 30px;
  width: 30px;
  margin: 0 0 0 14px;
}
table img {
  margin: 0 7px 0 0;
}
html.js fieldset.collapsible legend a {
  padding: 0 0 0 15px;
  background: url("images/arrow-down-white.png") no-repeat left 4px;
}
html.js fieldset.collapsed legend a {
  background: url(images/arrow-left-white.png) no-repeat left 4px;
}
.theme-selector {
  margin: 0 0 20px 25px;
}
.theme-info li {
  padding: 0 0 0 10px;
}
.admin .left {
  float: right;
}
.admin .right {
  float: left;
}

