/* $Id$ */

/* Positioning */
#preview {
  width: 500px;
  padding: 20px 0;
}
#preview #text {
  display: block;
  margin: 0 auto; 
  width: 400px;
  background-color: #fcfcf8;
  padding: 15px 20px;
  border: 1px solid #E9E9CE;
}
#preview h2 {
  margin: 0;
  color:  #63565F!important; /* text */
}
#preview p {
  margin: 8px 0 6px 0;
  color: #63565F; /* text */
}
#preview a {
  font-weight: 700;
}
#preview a:hover {
  text-decoration: none;
}
#preview #img,
#preview #gradient-0 {
  display: none;
}


