/* $Id$ */

#wrapper-p {
  position: relative;
  font-size: 9px;
  line-height: 1;
  width: 500px;
  height: 300px;
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
}
#wrapper-p * {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
}
/* Navigation */
#navigation-p {
  width: 500px;
  height: 20px;
  margin: 0;
  background-color: #2e2e2d;
}
#navigation-p ul {
  list-style: none;
  margin-left: 55px;
}
#navigation-p li {
  color: white;
  display: inline-block;
  margin: 4px 5px 4px 0;
}
/* Branding */
#branding-p {
  position: absolute;
  left: 60px;
  top: 35px;
}
#name-p {
  font-size: 22px;
  font-family: "Trebuchet MS", "Myriad Pro", "Bitstream Vera Sans", FreeSans, sans-serif;
  letter-spacing: -1px;
  margin: 0;
}
#slogan-p {
  line-height: 1;
  font-family: "Trebuchet MS", "Myriad Pro", "Bitstream Vera Sans", FreeSans, sans-serif;
  color: #e76111;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 3px;
}
/* Page */
#page-p {
  position: absolute;
  left: 50px;
  top: 85px;
  width: 250px;
  height: 175px;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#page-p p {
  line-height: 14px;
  margin-bottom: 10px;
}
/* Sidebar */
#sidebar-p {
  width: 100px;
  height: 400px;
  position: absolute;
  left: 343px;
  top: 90px;
}
#sidebar-p .block-title-p {
  font-family: "Trebuchet MS", "Myriad Pro", "Bitstream Vera Sans", FreeSans, sans-serif;
  font-size: 10px;
  padding-bottom: 5px;
  margin-bottom: 8px;
  border-bottom: 1px dotted #2E2E2E;
  color: #779125;
  font-weight: 700;
  text-transform: uppercase;
}
#sidebar-p ul {
  margin-bottom: 15px;
  list-style: none;
}
#sidebar-p ul li {
  margin: 6px 0;
}
#sidebar-p p {
  line-height: 11px;
}

