/* $Id$ */

#wrapper-p {
  position: relative;
  font-size: 8px;
  line-height: 1.25;
  width: 500px;
  height: 30em;
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
}
.two-sidebars #wrapper-p {
  width: 460px;
}
#wrapper-p * {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
}
/* navigation */
#navigation-p {
  width: 500px;
  height: 1.667em;
  margin: 0;
}
.two-sidebars #navigation-p {
  width: 460px;
}
#navigation-p ul {
  list-style: none;
  margin-left: 55px;
}
#navigation-p li {
  color: white;
  display: inline-block;
  margin: 4px 5px 4px 0;
}
/* branding */
#branding-p {
  position: absolute;
  left: 60px;
  top: 35px;
}
#name-p {
  font-size: 22px;
  letter-spacing: -1px;
  margin: 0;
}
#slogan-p {
  line-height: 1;
  color: #e76111;
  text-transform: uppercase;
  font-size: 0.833em;
  margin-top: 3px;
}
/* page */
#page-p {
  position: absolute;
  left: 50px;
  top: 9em;
  width: 250px;
  height: 15.4em;
  padding: 15px;
  background: #fff;
  border: 1px solid #e1e1e1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
#page-p p {
  font-size: 0.833em;
  line-height: 1.167em;
  margin-bottom: 10px;
}
#page a {
}
#page a:hover {
}
/* sidebar */
#sidebar-p {
  width: 100px;
  height: 15.4em;
  position: absolute;
  left: 343px;
  top: 9em;
}
#sidebar-p .block-title-p {
  font-size: 0.833em;
  padding-bottom: 3px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  color: #779125;
  font-weight: 700;
  text-transform: uppercase;
}
#sidebar-p ul {
  margin-bottom: 15px;
  list-style: none;
  font-size: 0.833em;
}
#sidebar-p ul li {
  margin: 4px 0;
}
#sidebar-p p {
  line-height: 0.917em;
  font-size: 0.833em;
}
