<%if (total>0 && totalPages>1) { %>
<div class="navbar">
	<div class="navbar-inner">
		<div class="pagination pagination-centered">
			<ul style="list-style-type: none; margin: 0px; padding: 0px;">
				<li <%=(isFirstPage) ? 'class="disabled"':'' %> style="display: inline;">
				<a <%=(isFirstPage) ? 'data-bypass':''%> data-route
					href="<%=(isFirstPage) ? '#' : searchBase + '&start=0'%>" class="serverfirst">«</a>
				</li>

				<li <%=(isFirstPage) ? 'class="disabled"':'' %> style="display: inline;">
				<a <%=(isFirstPage) ? 'data-bypass':''%> data-route 
					href="<%=(isFirstPage) ? '#' : searchBase + '&start='+(perPage*(currentPage-1))%>" 
					class="serverprevious">&lt;</a>
				</li>

				<% for(p=beginIndex;p<endIndex;p++){ %>
				<% var isCurrentPage = (currentPage === p);%>
				<li <%=(isCurrentPage)? 'class="active"': '' %> style="display: inline;">
				<a <%=(isCurrentPage) ? 'data-bypass':''%> data-route
					href="<%=(isCurrentPage) ? '#': searchBase + '&start=' + (perPage*p)%>" class="page"><%=p+1%></a>
				</li>
				<% } %>	

				<li <%=(isLastPage) ? 'class="disabled"': ''%> style="display: inline;">
				<a <%=(isLastPage) ? 'data-bypass':''%> data-route
					href="<%=(isLastPage) ? '#' : searchBase + '&start=' + (perPage*(currentPage+1))%>" 
					class="servernext">&gt;</a>
				</li>
				<li <%=(isLastPage) ? 'class="disabled"': ''%> style="display: inline;">
				<a <%=(isLastPage) ? 'data-bypass':''%> data-route
					href="<%=(isLastPage) ? '#' : searchBase + '&start=' + (perPage*(totalPages-1))%>" 
					class="serverlast">»</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<%}%>
